.nav {
    z-index: 100;
    width:100%;
    height:80px;
    display: flex;
    align-items: center;
    position: relative;
    transition: all .3s ease;
}

.nav-logo {
    display: flex;
}

.nav-logo-icon {
    margin-left: 10px;
    margin-right: 10px;
    width: 60px;
    height: 60px;
    color: #E74C3C;
}

.menu-icon-theme-wrapper {
    margin-left: auto;
    margin-right: 10px;
    height: 100%;
    display: flex;
    flex-direction: column-reverse;
    justify-content: space-around;
}

.nav-menu-icon {
    color: #E74C3C;
    width: 20px;
    height: 20px;
    display: inline-block;
    cursor: pointer;
    transition: all .3s ease;
}

.menu {
    z-index: 9999;
    position: absolute;
    display: flex;
    justify-content: space-evenly;
    flex-direction: column;
    align-items: center;
    left: -100%;
    height:calc(100vh - 80px);
    width: 100%;
    transition: all .3s ease;
    &.open {
        left: 0;
    }
    
}

.menu-link {
    position: relative;
    text-decoration: none;
    font-size: 1.5rem;
    transition: all .3s ease;
    &::before {
        position: absolute;
        content: '';
        left: 0;
        bottom: 0;
        height: 3px;
        width: 0;
        background-color: #E74C3C;
        transition: all .3s ease;
    }
    &:hover::before {
        width: 100%;
    } 
    &:hover {
        color: #E74C3C !important;
    }
}

.menu-link-wrapper {
    display: flex;
    align-items: center;
}

